*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width                : 6px;
    height               : 6px;
    background-color     : #141c2f;
    -webkit-border-radius: 4px;
    -moz-border-radius   : 4px;
    border-radius        : 0
  }
  
  ::-webkit-scrollbar-thumb {
    background-color     : rgba(30, 43, 75, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius   : 4px;
    border-radius        : 0
  }
html,body,.root{
    height: 100%;
}
body{
    background-color: var(--semi-color-bg-1);
}
